<!DOCTYPE HTML>
<html>
<head>
<title>Page2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<font size="+5">MACHINE BUILDER</font>
<body>
	<div>
	<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><a href ="download">Download</a></li>
		<li><a href = "vulns">Vulnerability</a></li>
		<li><a href = "home">Home</a></li>
		<li><a href = "login">Login</a></li>
	</ul>
	</nav>
	</div>
	<form action="postBuild" method="post">
		<div class="listWrapper">
			<u1> <input type="checkbox" name="vuln" value="vuln1"> Vuln1
			<input type="checkbox" name="vuln" value="vuln2">Vuln2 <input
				type="checkbox" name="vuln" value="vuln3">Vuln3 <input
				type="checkbox" name="vuln" value="vuln4">Vuln4 <input
				type="checkbox" name="vuln" value="vuln5">Vuln5 <input
				type="checkbox" name="vuln" value="vuln6">Vuln6 <input
				type="checkbox" name="vuln" value="vuln7">Vuln7 <input
				type="checkbox" name="vuln" value="vuln8">Vuln8 <input
				type="checkbox" name="vuln" value="vuln9">Vuln9 <input
				type="checkbox" name="vuln" value="vuln10">Vuln10 </u1>
		</div>
		<input type="submit" name="submit">
	</form>
</body>
</html>