<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<font size="+5">ALPACA</font>
<body>
<div>
	<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><a href ="download">Download</a></li>
		<li><a href = "vulns">Vulnerability</a></li>
		<li><a href = "builder">Lattice</a></li>
		<li><a href = "login">Login</a></li>
		<li><a href = "register">Register</a></li>
	</ul>
	</nav>
	</div>
	
	
</body>
</html>